:root
  --background-white: #FFFFFF
  --background-black: #000000

  @media (prefers-color-scheme: light)
    --background-primary: #FFFFFF
    --background-accent: #3E79F7
    --background-secondary: #F8F9FB
    --background-success: #17B530
    --background-warning: #FFBE18
    --background-error: #F73B3B

    --background-hover: #2F5DBF
    --background-disabled: #E8EAF0

    --text-primary: #202020
    --text-accent: #3E79F7
    --text-secondary: #89898A
    --text-success: #17B530
    --text-warning: #FFBE18
    --text-error: #F73B3B

    --border-primary: #E8EAF0
    --border-secondary: #F8F9FB
    --border-accent: #3E79F7
    --border-hover: #C1D3FC

  @media (prefers-color-scheme: dark)
    --background-primary: #202020
    --background-accent: #3E79F7
    --background-secondary: #323232
    --background-success: #17B530
    --background-warning: #FFBE18
    --background-error: #F73B3B

    --background-hover: #2F5DBF
    --background-disabled: #89898B

    --text-primary: #FFFFFF
    --text-accent: #3E79F7
    --text-secondary: #A8A8AA
    --text-success: #17B530
    --text-warning: #FFBE18
    --text-error: #F73B3B

    --border-primary: #89898B
    --border-secondary: #4A4A4B
    --border-accent: #3E79F7
    --border-hover: #C1D3FC

