@import spacings
@import variables
@import typography
@import components

body
  margin: 0
  padding: 0
  overflow-x: hidden
  overflow-y: auto
  background-color: var(--backgroud-primary)
  color: var(--text-primary)

ul
  margin: 0
  padding: 0

li
  list-style-type: none